<h2>Order Confirmation</h2>

<p><b>Name:</b> <%= @shoo.format_name()  %></p>
<p><b>Address:</b> <%= @shoo.format_address() %></p>
<p><b>Quantity:</b> <%= @shoo.quantity() %></p>
<p><b>Size:</b> <%= @shoo.size() %> </p>