<h1>Shoo Order Confirmation</h1>

<

<% @pizzas.each do |pizza| %>
  <p><b>Name:</b> <%= pizza.pretty_name() %></p>
  <p><b>Order:</b> <%= pizza.quantity %> x <%= pizza.topping %></p>
  <hr>
<% end %>