<h1>Shoo Order Confirmation</h1>

<% @shoos.each do |shoo| %>
  <p><b>Name:</b> <%= shoo.format_name() %></p>
  <p><b>Address:</b> <%= shoo.format_address() %></p>
  <p><b>Order:</b> <%= shoo.quantity %> x size <%= shoo.size %></p>
  <hr>
<% end %>